<app-navbar></app-navbar>
<div class="container-flex">
   <div class="row ms-3 mt-5 fw-bold fs-5">
    <div class="col">
    Tipo : {{container.title}}
</div>
    <div class="col">
        Dependencia : {{container.dependency}}
    </div>
   </div>
    <div class="row">
        <div class="col mt-5">
           
            <table class="table table-fluid table-hover table-bordered table-striped border border-dark">
                <thead>
                    <tr class="bg-primary fw-bold text-center">
                        <th scope="col">Fecha</th>
                       <th scope="col">Numero de factura</th>
                        <th scope="col">Razon social</th>
                        <th scope="col">Descripcion</th>
                        <th  scope="col">Importe</th>
                        <th scope="col">Input</th>
                       
                       
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center" *ngFor="let completed of completedSmallBox">
                       <th scope="row"  *ngIf="completed.subtotal==undefined" class="fw-light">{{completed.date}}</th>
                       <th scope="row"  *ngIf="completed.subtotal!=undefined" class="fw-bold bg-warning"></th>
                       <th scope="row"  *ngIf="completed.subtotal==undefined" class="fw-light">{{completed.ticketNumber}}</th>
                       <th scope="row"  *ngIf="completed.subtotal!=undefined" class="fw-bold bg-warning"></th>
                       <th scope="row"  *ngIf="completed.subtotal==undefined" class="fw-light">{{completed.provider}}</th>
                       <th scope="row"  *ngIf="completed.subtotal!=undefined" class="fw-bold bg-warning"></th>
                       <th scope="row"  *ngIf="completed.subtotal==undefined"  class="fw-light">{{completed.description}}</th>
                       <th scope="row"  *ngIf="completed.subtotal!=undefined"  class="fw-bold bg-warning"></th>
                       <th scope="row" *ngIf="completed.subtotal==undefined" class="fw-light">{{completed.ticketTotal | currency: '$': 'symbol'}}</th>
                       <th scope="row" *ngIf="completed.subtotal!=undefined" class="fw-bold  bg-warning text-dark">{{completed.subtotalTitle}}</th>
                        <th scope="row" *ngIf="completed.subtotal!=undefined" class="fw-bold  bg-warning text-dark">{{completed.subtotal | currency: '$': 'symbol'}}</th>
                        <th scope="row" class="fw-light">{{completed.inputNumber}}</th>
                        
                    </tr>
                 </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col"></div>
        <div clas="col">
          
        </div>
    </div>
</div>

