
body {
   
    height: 842px;
    width: 590;
    /* to centre page on screen*/
    margin-left: auto;
    margin-right: auto;
}
#containerHeader{
   
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

button{
    color: white;
    background: linear-gradient(245.59deg, rgb(202, 22, 15) 0%, rgb(234, 37, 23) 28.53%, #dc0808 75.52%); 

}

.container-flex{
    background-color: white;
}
#line{
    margin-left: 0.7rem;
    width: 97rem;
}
h2{
    font-family: 'Quattrocento', serif;
    font-weight: bold;
  font-size: 1rem;
}
h3{
    font-family: 'Quattrocento', serif;
   font-weight: bold;
}
h4{
    font-family: 'Quattrocento', serif;
    font-weight: bold;
   
}

#date{
    margin-left: 4rem;
}

/* .footer{
    height: 50px;
   
    position: absolute;
    left: 0;
    
    right:0;
    width: 100%;
} */
#footDep{
    font-size: 0.6rem;
    font-weight: bold;
    font-size: 0.4rem;
    /* margin-top: 32rem;
    margin-left: 5.5rem; */
   
}
#footAddress{
    font-size: 0.5rem;
}
small{
    font-size: 0.6rem;
}

span{
    font-family: 'Quattrocento', serif;
    font-size: 0.8rem;
}