<app-navbar></app-navbar>

    <div id="main-container" class="container-fluid">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-6">
                <form class="form-inline mt-2" [formGroup]="findByExampleFormBuilder">
                    <div class="input-group">
                        <div class="form-group w-50 text-center">
                            <input type="text" class="form-control" formControlName="example" id="example"
                                placeholder="Ingrese una referencia..." (ngModelChange)="filterWorkTemplateTest()">
                            <div *ngIf="example.invalid && (example.dirty || example.touched)" class="text-danger">
                                <div *ngIf="example.errors?.['required']">
                                    Debe ingresar un dato valido
                                </div>
                            </div>
                            <!-- <button (click)="findWorkTemplateByExample()" id="btnFind" class="btn btn-sm  mt-1 ">Buscar</button> -->
                        </div>
                        <!-- <div id="filterForm" class="form-group ms-1">
                    <select id="filter" formControlName="filter" class=" form-select  border-dark ">
                        <option value="">Filtrar por:</option>
                        <option type="text" class="form-control border-dark " *ngFor="let filter of filters"
                            id="organizationId" [value]="filter">
                            {{filter}}</option>

                    </select>
                   
                </div> -->

                    </div>
                </form>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 mt-4">
                <div id="table-div" class="overflow-scroll  border border-dark">
                    <table class="table table-fluid table-bordered table-hover border border-dark">
                        <thead class="bg-light sticky-top top-0">
                            <tr class=" fw-bold text-center">
                                <th scope="col">  <img id="thumbsUp" class="ms-1 mt-1 " src="./assets/img/calendar-days-solid.svg"></th>
                                <th scope="col">   <img id="factory_icon" class="" src="./assets/img/building-solid.svg"></th>
                                <th scope="col"><img id="thumbsUp" class="ms-1 mt-1 " src="./assets/img/description_24dp_FILL0_wght400.svg"></th>
                                <th scope="col"><img id="thumbsUp" class="ms-1 mt-1 " src="./assets/img/location-dot-solid.svg"></th>
                                <th scope="col"><img id="thumbsUp" class="ms-1 mt-1 " src="./assets/img/quick_reference_24dp.svg"></th>
                                <th scope="col"><img id="thumbsUp" class="ms-1 mt-1 " src="./assets/img/edit_note_24dp_FILL0.svg"></th>
                                <th scope="col"><img id="thumbsUp" class="ms-1 mt-1 " src="./assets/img/category_24dp_FILL0.svg"></th>
                                <th scope="col"><img id="thumbsUp" class="ms-1 mt-1 " src="./assets/img/contract_edit.svg"></th>
                                <th scope="col"><img id="thumbsUp" class="ms-1 mt-1 " src="./assets/img/content_copy_24dp_FILL0.svg"></th>
                                <th scope="col"><img id="thumbsUp" class="ms-1 mt-1 " src="./assets/img/trash-can-regular.svg"></th>


                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center" *ngFor="let template of workTemplates">
                                <td scope="row" class="fw-bold">{{template.date | date:
                                    'dd-MM-yyyy'}}</td>

                                <td scope="row" class="fw-bold">{{template.producedBy}}</td>
                                <td scope="row" class="fw-bold">{{template.correspond + ' ' +
                                    template.correspondNumber}}</td>

                                <td scope="row" class="fw-bold">{{template.destinations}}</td>

                                <td scope="row" class="fw-bold">{{template.refs}}</td>
                                <td id="textRow" scope="row" class="fw-bold">{{template.text}}</td>
                                <td id="itemsRow" scope="row" class="fw-bold">{{template.items}}</td>
                                <td><button class="btn btn-md" routerLink="/memo-edit/{{template.id}}"></button></td>
                                <td><button class="btn btn-md" (click)="copyWorkTemplate(template.id)"></button></td>
                                <td><button class="btn btn-md" (click)="deleteWorkTemplateById(template.id)"></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
