#main-container{
    background: linear-gradient(245.59deg, rgb(221, 224, 232) 0%, rgb(220, 218, 229) 28.53%, #dedde6 75.52%);
}

table{
    font-family:'Quattrocento', serif; 
}
form{
    font-family:'Quattrocento', serif;  
}

th{
    font-family: "Anton", sans-serif;
    color: rgb(7, 27, 139);
    font-weight: 200;
    background: rgb(210, 209, 219);
    font-size: 1.4rem;
}

td{
    
    color: rgb(16, 18, 2);
    background: rgb(210, 209, 219);
    font-size: 0.8rem;
    font-family: "Fira Code", monospace;
    font-weight: 200;
}
#itemsRow{
    background: rgb(210, 209, 219);
    font-size: 0.6rem;
    font-family: "Fira Code", monospace;
    font-weight: 200;
}
#textRow{
    background: rgb(210, 209, 219);
    font-size: 0.6rem;
    font-family: "Fira Code", monospace;
    font-weight: 200;
}

#table-div{
   
    height: 44%;
    width: 100%;
   
}

 
button{
    color:white;
    background: linear-gradient(245.59deg, rgb(73, 105, 192) 0%, rgb(86, 66, 175) 28.53%, #7e76b9 75.52%); 
}
button:hover{
    background: linear-gradient(245.59deg, rgb(73, 192, 83) 0%, rgb(66, 175, 68) 28.53%, #76b987 75.52%); 
}
input{
    border: solid 1px black;
}

#btnFind{

    width: 16rem;
}
#filterForm{
    width: 8rem;
}