table{
    font-family:'Quattrocento', serif; 
}

th{
    background-color: rgb(236, 239, 230);
    font-size: 1.0rem;
}

td{
    background-color: rgb(226, 231, 238);
}
button{
    color:white;
    background: linear-gradient(245.59deg, rgb(73, 105, 192) 0%, rgb(86, 66, 175) 28.53%, #7e76b9 75.52%); 
}
button:hover{
    background: linear-gradient(245.59deg, rgb(73, 192, 83) 0%, rgb(66, 175, 68) 28.53%, #76b987 75.52%); 
}
input{
    border: solid 1px black;
}

#btnFind{

    width: 16rem;
}