

#containerCSS{
  
    
}


#logo:hover{
    background-image: none;
}

#totalText{
   
   
    margin-left: 5.5rem;
}

#totalNumber{
    margin-left: 5.1rem;
}

#totalTitle{
    font-family: 'Quattrocento', serif;
    font-size: 1.2rem;
}
#tableTotal{
    background-color: aqua;
}

#totalRow{
    font-family: 'Quattrocento', serif;
    font-size: 1.2rem;
}

#rowCompleted{
    background-color: rgb(230, 230, 188);
}

th{
    background-color: rgb(243, 240, 219);
}
#title{
    font-family: 'Domine', serif;
    font-size: 2rem;
}

h2{
    font-family: 'Quattrocento', serif;
    font-weight: bold;
    background-color: rgb(243, 240, 219);
}

h3{
    font-family: 'Quattrocento', serif;
   font-weight: bold;
}
h4{
    font-family: 'Quattrocento', serif;
    font-weight: bold;
   
}
h5{
    font-family:'Quattrocento', serif; 
    font-weight: bold;
}

#rendicion{
    font-weight: bold;
    font-size: 0.9rem;
}

#totalWrite{
    font-family:'Quattrocento', serif; 
    font-weight: bold;
}
button{
    background: linear-gradient(245.59deg, rgb(73, 105, 192) 0%, rgb(86, 66, 175) 28.53%, #7e76b9 75.52%); 
    color:white
}

#pdfDiv{
    font-family:'Quattrocento', serif; 
}

