body{
    background: linear-gradient(245.59deg, rgb(231, 235, 244)30%, rgb(224, 222, 234) 50%, #e3e2ec 79%);
}
#usersListTemplate{
    background: linear-gradient(245.59deg, rgb(187, 185, 199)30%, rgb(198, 196, 206) 50%, #d5d2dc 79%);
}
.row{
    font-family: 'Quattrocento', serif;
    font-weight: bold;
   
}
#btnOpen{
    background: linear-gradient(245.59deg, rgb(73, 105, 192) 0%, rgb(86, 66, 175) 28.53%, #7e76b9 75.52%); 
    color:white
}

#btnOpen:hover{
    background: linear-gradient(245.59deg, rgb(73, 174, 192) 0%, rgb(66, 151, 175) 28.53%,rgb(118, 180, 185)9 75.52%); 
}

h1{
    font-family: 'Quattrocento', serif;
    font-size: 28px;
}
button{
    color: white;
    background: linear-gradient(245.59deg, rgb(94, 179, 126) 0%, rgb(65, 149, 89) 28.53%, #76b99c 75.52%); 
}
button:hover{
    background: linear-gradient(245.59deg, rgb(73, 105, 192) 0%, rgb(86, 66, 175) 28.53%, #7e76b9 75.52%); 
}
td{
    font-family: "Fira Code", monospace;
    font-weight: bold;
}