<body>
    <app-navbar></app-navbar>
    <div class="container-lg">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <div class="jumbotron ms-1 mt-2">
                    <div>
                        <p class="d-inline display-4">SUBIR EXCEL</p>
                        <a (click)="uploadDepositExcelFile()" class="btn btn-sm ms-1 " role="button">-</a>
                        <input id="uploadInput" class="w-50 ms-2" type="file" (change)="selectFile($event)" />
                    </div>
                    <p class="lead">
                        <hr class="my-4">
                </div>
            </div>
            <div class="col-md-5">
               
            </div>
            <div class="col-md-2 mt-3">
                <button *ngIf="depositComparators!=null" (click)="saveExcelItemsToDeposit()"
                    class="btn btn-sm text-white">GUARDAR</button>
            </div>
        </div>
        <div class="row">
            <div *ngIf="depositComparators!=null" class="col-md-8">
                <div id="table-div" class="overflow-scroll border border-dark">
                    <table class="table table-sm table-bordered table-striped">
                        <thead>
                            <tr>
                                <th scope="col">U.MEDIDA</th>
                                <th scope="col">DESC</th>
                                <th scope="col">CANTIDAD</th>
                                <th scope="col">ORDEN DE COMPRA</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let comparator of depositComparators">
                                <td>{{comparator.excelItemDto.itemMeasureUnit}}</td>
                                <td>{{comparator.excelItemDto.itemDescription}}</td>
                                <td class="fw-bold text-danger">{{comparator.excelItemDto.itemQuantity}}</td>
                                <td>
                                    <div>
                                        <table class="table-sm table-primary table-flex table-bordered">
                                            <thead>
                                                <tr>
                                                    <th scope="col">O.C CODIGO</th>
                                                    <th scope="col">O.C DSCRIPCION</th>
                                                    <th scope="col">O.C U.MEDIDA</th>
                                                    <th scope="col">SELECCIONAR</th>
                                                </tr>
                                            </thead>
                                            <tbody class="text-center">
                                                <tr *ngFor="let itemPO of comparator.purchaseOrderItemCandidateDtos">
                                                    <td>
                                                        <p>{{itemPO.code}}</p>
                                                    </td>
                                                    <td>
                                                        <p>{{itemPO.itemDetail}}</p>
                                                    </td>
                                                    <td>
                                                        <p>{{itemPO.measureUnit}}</p>
                                                    </td>
                                                    <td *ngIf="itemPO.excelItemDtoId==0"><button class="btn btn-sm"
                                                            disabled>-</button></td>
                                                    <td *ngIf="itemPO.excelItemDtoId>0"><button
                                                            (click)="selectPurchaseOrderItem(itemPO)"
                                                            class="btn btn-sm ">-</button></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div *ngIf="depositComparators!=null" class="col-md-4">
                <div id="selected_items_table-div" class="overflow-scroll border border-dark">
                    <table class="table table-lg table-bordered">

                        <thead>
                            <tr>

                                <th scope="col">CODIGO</th>
                                <th scope="col">U.MEDIDA</th>
                                <th scope="col">DESCRIPCION</th>
                                <th scope="col">CANTIDAD</th>
                                <th scope="col">ELIMINAR</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="selectedExcelItemDtos.length>0">
                            <tr *ngFor="let item of selectedExcelItemDtos">
                                <td>{{item.itemCode}}</td>
                                <td>{{item.itemMeasureUnit}}</td>
                                <td>{{item.itemDescription}}</td>
                                <td>{{item.itemQuantity}}</td>
                                <td><button (click)="deleteSelectedItem(item.excelItemId)" class="btn btn-sm">-</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</body>
<ng-template #depositControlTemplate>
    <button id="closeButton" (click)="onCloseDepositControlistTemplate()" class="btn btn-sm text-white">X</button>
    <div class="container-flex">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <div id="items-saved-table-div" class="overflow-scroll">
                <h1>SE GUARDARON LOS SIGUIENTES ITEMS</h1>
                <table class="table table-sm table-bordered w-75">
                    <thead>
                        <tr>
                            <th id="savedItemTh" scope="col">CODIGO</th>
                            <th id="savedItemTh" scope="col">U.MEDIDA</th>
                            <th id="savedItemTh" scope="col">DESCRIPCION</th>
                            <th id="savedItemTh" scope="col">P.UNITARIO</th>
                            <th id="savedItemTh" scope="col">TOTAL</th>
                            <th id="savedItemTh" scope="col">CANTIDAD</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of depositControlDtos">
                            <td id="supplyReportFullBlue">{{item.itemCode}}</td>
                            <td id="savedItemTd">{{item.measureUnit}}</td>
                            <td id="savedItemTd">{{item.itemDescription}}</td>
                            <td id="supplyReportFullBlue">{{item.itemUnitPrice | currency: '$': 'symbol'}}</td>
                            <td id="savedItemTd">{{item.itemTotalPrice | currency: '$': 'symbol'}}</td>
                            <td id="savedItemTd" *ngIf="item.quantity>=10" class="text-success fw-bold">{{item.quantity}}</td>
                            <td id="savedItemTd" *ngIf="item.quantity<10" class="text-danger fw-bold">{{item.quantity}}</td>
                        </tr>

                    </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>

</ng-template>