<app-navbar></app-navbar>
    <body>
        
    
    <div class="container">
        <div class="row">
           
            <div class="col text-center mt-2">
              
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-2"></div>
            <div class="col-md-4 mt-5">
                <div class="jumbotron">
                    <h1 class="d-inline display-4">Crear</h1>
                    <a routerLink="/container" class="btn btn-lg ms-3 " href="#" role="button">-</a>
                    <p class="mt-1">Crear una nueva rendicion</p>
                    <p class="lead">
                    <hr class="my-4">
                   
                   
                  </div>
            </div>
            <div class="col-md-6 mt-5">
                <div class="jumbotron">
                    <h1 class="d-inline display-4">ABRIR</h1>
                    <a  routerLink="/open-container" class="btn btn-lg ms-3 " href="#" role="button">-</a>
                    <p class="mt-1">Seleccionar rendicion  existente para modificar o descargar</p>
                    <hr class="my-4">
                   
                   
                  </div>
            </div>
        </div>
    </div>
</body>


