
body{
    background: linear-gradient(245.59deg, rgb(231, 235, 244)30%, rgb(224, 222, 234) 50%, #e3e2ec 79%);
}
.container-fluid{
    background: linear-gradient(245.59deg, rgb(231, 235, 244)30%, rgb(224, 222, 234) 50%, #e3e2ec 79%);
}
input{
    font-family: 'Quattrocento', serif;
    background: linear-gradient(245.59deg, rgb(233, 235, 240)30%, rgb(230, 228, 238) 50%, #d5d5da 79%);
    font-weight: bold;
}
#table-div{
    height: 34%;
   
}
label{
    font-family: 'Quattrocento', serif;
    font-size: 1.0rem;
    font-weight: bold;
}
#invalid-text{
    font-size: 0.7rem;
}
#invalid-number{
    font-size: 0.5rem;
}
button,a{
    background: linear-gradient(245.59deg, rgb(113, 132, 184) 0%, rgb(126, 115, 177) 28.53%, #7e76b9 75.52%); 
    height: 80%;
    color:rgb(212, 225, 41);
    font-family: "Fira Code", monospace;
    font-weight: bold;
    border-radius: 0.4rem;
}
#btnSaveBigBag{
    background: linear-gradient(245.59deg, rgb(45, 14, 216)20%, rgb(22, 25, 185) 30%, #353cb6 79%); 
}
#btnSaveBigBag:hover{
    background: linear-gradient(245.59deg, rgb(200, 134, 12)20%, rgb(201, 104, 20) 30%, #d7b90d 79%); 
}
#btnCancelBigBag{
    background: linear-gradient(245.59deg, rgb(174, 7, 71)20%, rgb(192, 29, 138) 30%, #cd13ba 79%); 
}
#btnCancelBigBag:hover{
    background: linear-gradient(245.59deg, rgb(200, 134, 12)20%, rgb(201, 104, 20) 30%, #d7b90d 79%); 
}

button:hover{
    background: linear-gradient(245.59deg, rgb(200, 134, 12)20%, rgb(201, 104, 20) 30%, #d7b90d 79%); 
    color:rgb(215, 154, 41);
}


#sel-text{
    font-family: 'Quattrocento', serif;
    font-size: 1.2rem;
    font-weight: bold;
}
#deposit-text{
    border: 2px solid #020008;
}

p{
    color: #361e96;
    font-size: 0.9rem;
    font-family: "Fira Code", monospace;
    font-weight: bold;
}


h1{
    font-size: 1rem;
    font-family: 'Noto Sans', sans-serif;
}

h2{
    color: rgb(56, 18, 195);
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
}
h3{
    font-family: 'Noto Sans', sans-serif;
}
h4{
    font-family: 'Quattrocento', serif;
    font-weight: 500;
    font-size: 1rem;
    
}

h5{
    color:#000002;
    font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
    font-size: 2.1rem;
}

small{
   
    font-family: "Fira Code", monospace;
    font-size: 0.9rem;
    font-weight: bold;
    color:rgb(28, 71, 26);
}
.btn{
    background: linear-gradient(245.59deg, rgb(91, 32, 80)33.33%, rgb(170, 43, 187) 33.33%, #64169f 33.33%); 
    color:red;
    font-family: "Fira Code", monospace;
}
th{
    font-family: "Fira Code", monospace;
    font-size: 0.9rem;
   
}
td{
    font-family: "Fira Code", monospace;
    color:rgb(211, 25, 25);
    font-weight: bold;
    font-size: 0.9rem;
}

.float { float:left; width:100px; height:100px }

#total_quantity{
    font-family: "Fira Code", monospace;
    font-weight: bold;
    color:rgb(1, 10, 1);
    padding-right: 1.0rem;
}
#closeButton{
    position: absolute;
    right: 0;
  }

  #quantity_td{
    width: 10rem;
    height: 5rem;
    margin-left: 1rem;
  }
  #quantity_form{
    width: 4rem;
    height: 5rem;
    margin-left: 1rem;
  }
  #bag_icon{
    width: 1.5rem;
    height: 1.5rem;
    margin-bottom: 0.5rem;
}

#thumbsUp{
    width: 1.5rem;
    height: 1.5rem;
}
#calc{
    width: 2.2rem;
    height: 2.2rem; 
}
.float { float:left; width:100px; height:100px }