<body>
  <app-navbar></app-navbar>
  <div class="container-fluid">
    <div  class="row">
      <div class=" text-center">
        <img id="bag_icon" class="ms-1 mt-1" src="./assets/img/bag-shopping-solid.svg">
      </div>
    </div>
    <div class="row mt-5 ms-4">
    <div *ngIf="!createdEnabled"  class="col-md-3"></div>
     <div *ngIf="!createdEnabled" class="col-md-4">
        <div class="jumbotron ms-1">
          <div>
              <p class="d-inline display-4">NUEVO</p>
              <button (click)="createBigBagSwitch()" class="btn btn-lg d-inline ms-5"></button>
          </div>
       </div>
     </div>
    <div *ngIf="!createdEnabled" class="col-md-3">
      <div class="jumbotron ms-1">
     <div id="orderItem">
            <p class="d-inline display-4">VER</p>
            <button (click)="openDialogSupplyList(bigBagListTemplate)" class="btn btn-lg  d-inline ms-5"></button>
        </div>
      
    </div>
 </div>
 <div class="col-md-4">
        <div *ngIf="createdEnabled">
          <form class="form-inline" [formGroup]="bigBagForm">
            <div class="row">
              <div class="col-md-4">
                <label class="mt-2" for="name">Nombre del bolson:</label>
              </div>
              <div class="col-md-8">
                <div class="form-group mt-1">
                  <input type="text" class="form-control w-100  border border-dark" placeholder="ingrese un nombre"
                    formControlName="name" id="name">
                  <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger">
                    <div class="ms-1" id="invalid-text" *ngIf="name.errors?.['required']">
                      Debe ingresar un nombre para el bolson.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-2 mt-1">
        <div *ngIf="createdEnabled">
           <div class="jumbotron ms-1">
          <div>
              <p class="d-inline display-4">GUARDAR</p>
              <button  id="btnSaveBigBag" (click)="createBigBag()" class="btn btn-lg d-inline ms-3"></button>
          </div>
       </div>
       <div class="jumbotron ms-1">
        <div>
            <p class="d-inline display-4">CANCELAR</p>
            <button id="btnCancelBigBag" (click)="reloadPage()" class="btn btn-lg d-inline ms-2"></button>
        </div>
     </div>
    
        </div>
      </div>
    </div>
    <div *ngIf="createdEnabled" class="row">
      <div class="col-md-6">
        <div class="mt-1  ms-3">
          <div id="sel-text" class="border border-dark">
            <p class="d-inline">Seleccione items del deposito </p>
            <div id="deposit-selection" class="d-inline">
              <small>{{currentDepositName}}</small>
            </div>
          </div>
          <div id="table-div" class=" border border-dark">
            <table class="table table-stripe table-bordered">
              <thead>
                <tr>
                  <th scope="col">CODIGO</th>
                  <th scope="col">U.MEDIDA</th>
                  <th scope="col">DESCRIPCION</th>
                  <th scope="col">ELIMINAR</th>
              </thead>
              <tbody class="text-center">
                <tr *ngFor="let bigBagItem of bigBagItemSelectedList">
                  <td>{{bigBagItem.code}}</td>
                  <td>{{bigBagItem.measureUnit}}</td>
                  <td>{{bigBagItem.description}}</td>
                  <td><button (click)="deleteDepositeItemFromSelection(bigBagItem.depositControlId)"
                      class="btn btn-sm">-</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        
        <div id="deposit-text">
          <h3 class="d-inline">DEPOSITO: </h3>
          <div id="deposit-selection" class="d-inline">
            <small>{{currentDepositName}}</small>
          </div>
        </div>
        <div id="table-div" class="overflow-scroll  border border-dark">
          <table class="table table-sm table-stripe table-bordered text-center">
            <thead>
              <tr>
                <th scope="col">CODIGO</th>
                <th scope="col">U.MEDIDA</th>
                <th scope="col">DESCRIPCION</th>
                <th scope="col">CANTIDAD</th>
                <th scope="col">SELECCIONAR</th>
            </thead>
            <tbody class="text-center">
              <tr *ngFor="let depositControl of depositControlDtos">
                <td class="text-primary">{{depositControl.itemCode}}</td>
                <td class="text-primary">{{depositControl.measureUnit}}</td>
                <td class="text-primary">{{depositControl.itemDescription}}</td>
                <td class="text-primary">{{depositControl.quantity}}</td>
                <td>
                  <button *ngIf="createdEnabled" (click)="selectDepositItem(depositControl.itemCode,depositControl.measureUnit,
                  depositControl.itemDescription,depositControl.id)" class="mx-2">-</button>
                  <button *ngIf="!createdEnabled" (click)="selectDepositItem(depositControl.itemCode,depositControl.measureUnit,
                    depositControl.itemDescription,depositControl.id)" class="mx-2" disabled>X</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>
<ng-template #bigBagListTemplate>

  <body id="orderListTemplate">
    <div class="container">
      <div id="closeButton" (click)="onCloseBigBagListTemplate()" class="btn btn-sm text-white">X</div>
      <div class="row">
        <div class="col-md-4">
          <div class="float">
            <h3>Cantidad:</h3>
          </div>
          <div class="float w-25">
            <div>
              <h3 id="total_quantity" class="" *ngIf="bigBagTotalQuantity==-1 ">#</h3>
            </div>
            <div>
              <h3 id="total_quantity" class="" *ngIf="bigBagTotalQuantity==0">0</h3>
            </div>
            <div>
              <h3 id="total_quantity" class="mb-2" *ngIf="bigBagTotalQuantity>0">{{bigBagTotalQuantity}}</h3>
            </div>

          </div>
        </div>

        <div class="col-md-4">
          <h2 class="text-center text-white"> <img id="bag_icon" class="ms-1 mt-1"
              src="./assets/img/bag-shopping-solid.svg"></h2>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div id="table-div">
            <table class="table table-flex table-bordered table-striped h-75">
              <thead>
                <tr class="text-center">
                  <th scope="col">Fecha de creacion</th>
                  <th scope="col">Nombre</th>
                  <th>VER ITEMS</th>
                  <th>CALCULAR</th>
                </tr>
              </thead>
              <tbody class="text-center">
                <tr *ngFor="let bigBag of findedBigBagDtos">
                  <td>{{bigBag.creationDate}}</td>
                  <td>{{bigBag.name}}</td>
                  <td>
                    <button (click)="openDialogBigBagItemsList(bigBag.id)" class="btn btn-md"></button>
                  </td>
                  <td>
                    <button (click)="calculateBigBagTotalQuantity(bigBag.id)" class="btn btn-md"></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</ng-template>


<ng-template #bigBagItemsListTemplate>
  <body>
    
 
  <div id="closeButton" (click)="onCloseBigBagItemListTemplate()" class="btn btn-sm text-white">X</div>
  <div class="container">
  <div class="row">
  <div class="mt-1">
    <h1 class="d-inline">Items:</h1>
  </div>
  <table class="table table-bordered table-striped table-hover h-75">
    <thead>
      <tr class="text-center">
        <th scope="col">CODIGO</th>
        <th scope="col">U.MEDIDA</th>
        <th scope="col">DESCRIPCION</th>
        <th scope="col">P.UNITARIO</th>
        <th scope="col">TOTAL</th>
        <th scope="col">CANTIDAD</th>
        <th scope="col">MOFIFICAR</th>
        <th scope="col">APLICAR</th>

      </tr>
    </thead>
    <tbody>
      <tr class="text-center" *ngFor="let bigBagItem of findedBigBagItems">
        <td>{{bigBagItem.code}}</td>
        <td>{{bigBagItem.measureUnit}}</td>
        <td>{{bigBagItem.description}}</td>
        <td>{{bigBagItem.unitCost | currency: '$': 'symbol'}}</td>
        <td>{{bigBagItem.totalCost| currency: '$': 'symbol'}}</td>
        <td>{{bigBagItem.quantity}}</td>
        <td id="quantity_td">
          <div id="quantity_form">
            <form [formGroup]="bigBagItemForm" class="form-group fw-bold ms-1">
              <div class="form-group">
                <input class="form-control border-dark" type="quantity" placeholder="0" formControlName="quantity"
                  id="quantity">
                <div *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)" class="text-danger">
                  <div *ngIf="quantity.errors?.['required']">

                  </div>
                </div>
              </div>

            </form>
          </div>
        </td>
        <td>
          <button (click)="updateBigBagItemQuantity(bigBagItem.id)" class="btn btn-sm"></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
</body>
</ng-template>