<app-navbar></app-navbar>
<div class="container-flex">
    <div class="row">
    <div class="col-md-2"></div>
        <div class="col-md-4">
            <form class="text-center" [formGroup]="referFormBuilder">
                <div class="form-group">
                    <label for="date" class="form-label">Fecha</label>
                    <input type="date" class="form-control " formControlName="date" id="date">
                    <div *ngIf="date.invalid && (date.dirty || date.touched)" class="text-danger">
                        <div *ngIf="date.errors?.['required']">
                            Falta la fecha
                        </div>
                    </div>
                </div>
                <div class="form-group w-75 text-center ">
                    <label for="organizationId" class="form-label fs-7  ">Producido por</label>
                    <select id="organizationId" formControlName="organizationId" class="form-select  border-dark ">
                        <option type="text" class="form-control border-dark " *ngFor="let org of organizations"
                            id="organizationId" [value]="org.id">
                            {{org.organizationName}}</option>
                                
                    </select>

                </div>
                <div class="form-group">
                    <label for="producedBy" class="form-label">Texto</label>
                    <textarea id="input-text" type="text" class="form-control border-dark"
                        formControlName="text"></textarea>

                </div>
                <button class="btn mt-1" (click)="createRefer()">Finalizar</button>
            </form>
        </div>
          
        </div>
    </div>

