<body>
    <app-navbar></app-navbar>
    <div class="container-flex">
        <div class="row">
            <div class="col-md-3">
                <button routerLink="/big-bag" id="bigBag" class="btn btn-md  ms-5 mt-1">Bolsones</button>
            </div>
            <div class="col-md-5">

            </div>
            <div class="col-md-4">
                <div> <img id="factory_icon" class="ms-1 mt-1" src="./assets/img/building-solid.svg">
                    <small class="text-danger" *ngIf="!selectedDepositBol">Ninguno</small>
                    <small id="selectedDeposit" *ngIf="selectedDepositBol">{{selectedDepositStr}}</small>
                    <button (click)="openDialogDepositSelection(depositSelectionTemplate)"
                        class="btn btn-sm mt-1 ms-3 text-white">Seleccionar</button>
                    <!-- <button (click)="deleteCurrentDepositSelected()"
                    class="btn btn-sm mt-1 ms-3 text-white">Delete</button> -->
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col text-center mt-2">

            </div>
        </div>
        <div class="row mt-5 ms-3">
            <div class="col-md-3">
                <h5>ORDEN DE COMPRA</h5>
                <hr class="my-4">
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <h5>SUMINISTRO</h5>
                <hr class="my-4">
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <h5 class="d-inline">DEPOSITO</h5>
                <div id="createDepositBtn" (click)="openDialogDepositCreation(createDepositTemplate)"
                    class="btn btn-sm  ms-5 mb-3 ">Crear deposito</div>
                <hr class="my-4">
            </div>
        </div>
        <div class="row mt-3 ms-3">

            <div class="col-md-3 mt-1">
                <!-- Purchase order jumbotron -->
                <div class="jumbotron ms-1">
                    <div>
                        <p class="d-inline display-4">SUBIR</p>
                        <a (click)="uploadPurchaseOrderFile()" class="btn btn-sm ms-3 " role="button">-</a>
                        <input id="uploadInput" class="w-50 ms-2" type="file" (change)="selectFile($event)" />
                    </div>
                    <div id="orderItem" class="mt-1">
                        <p class="d-inline display-4">VER</p>
                        <a (click)="openDialogPurchaseOrderList(purchaseOrderListTemplate)" class="btn btn-sm ms-3"
                            role="button">-</a>
                    </div>
                    <p class="lead">
                        <hr class="my-4">
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3 mt-1">
                <!-- Supply jumbotron -->
                <div class="jumbotron  ms-1">
                    <div>
                        <p class="d-inline display-4">SUBIR</p>
                        <a (click)="uploadSupplyFile()" class="btn btn-sm ms-3 " role="button">-</a>
                        <input id="uploadInput" class="w-50 ms-2" type="file" (change)="selectFile($event)" />
                    </div>
                    <div id="orderItem" class="mt-1">
                        <p class="d-inline display-4">VER</p>
                        <a (click)="openDialogSupplyList(supplyListTemplate)" class="btn btn-sm ms-3"
                            role="button">-</a>
                    </div>
                    <p class="lead">
                        <hr class="my-4">
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <!-- Deposit jumbotron -->

                <div class="jumbotron ms-1">
                    <div id="import_excel">
                        <p class="d-inline display-4">VER STOCK</p>
                        <a (click)="openDepositControlListTemplate(depositControlListTemplate)" class="btn btn-sm ms-3 "
                            role="button">-</a>
                    </div>
                    <div class="mt-1">
                        <p class="d-inline display-4">IMPORTAR EXCEL</p>
                        <a routerLink="/deposit-comparator" class="btn btn-sm ms-2 " role="button">-</a>
                    </div>
                    <p class="lead">
                        <hr class="my-4">
                </div>
            </div>
        </div>

    </div>
</body>
<ng-template #depositControlListTemplate>

    <body>
        <div id="orderListTemplate" class="container-flex">

            <button id="closeButton" (click)="onCloseDepositControlListTemplate()"
                class="btn btn-sm text-white">X</button>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-6 ms-2">
                    <!-- Deposit control table -->
                    <h3 *ngIf="selectedDepositBol"> DEPOSITO: <h2 class="d-inline text-danger">{{selectedDepositStr}}
                        </h2>
                    </h3>
                    <p class="lead">
                        <hr class="my-4">
                    <table class="table table-flex table-bordered h-75">
                        <thead>
                            <tr>
                                <th scope="col">CODIGO</th>
                                <th scope="col">U.MEDIDA</th>
                                <th scope="col">DESCRIPCION</th>
                                <th scope="col">P.UNITARIO</th>
                                <th scope="col">TOTAL</th>
                                <th scope="col">CANTIDAD</th>
                                <th scope="col">MODIFICAR</th>
                                <th scope="col">ELIMINAR</th>

                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <tr *ngFor="let item of depositControlDtos">
                                <td id="fullBlue_td">{{item.itemCode}}</td>
                                <td>{{item.measureUnit}}</td>
                                <td>{{item.itemDescription}}</td>
                                <td>{{item.itemUnitPrice | currency: '$': 'symbol'}}</td>
                                <td id="fullBlue_td">{{item.itemTotalPrice | currency: '$': 'symbol'}}</td>
                                <td *ngIf="item.quantity>=10" class="text-success fw-bold">{{item.quantity}}</td>
                                <td *ngIf="item.quantity<10" class="text-danger fw-bold">{{item.quantity}}</td>
                                <td><button
                                        (click)="openDialogDepositControlUpdate(item.id,updateDepositContolTemplate)"
                                        class="btn btn-sm">-</button></td>
                                <td><button (click)="confirmDeleteDepositControl(item.id)" class="btn btn-sm">-</button>
                                </td>

                            </tr>

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </body>
</ng-template>
<ng-template #purchaseOrderTableTemplate>
    <button id="closeButton" (click)="onClosePurchaseOrderTableTemplate()" class="btn btn-sm text-white">X</button>
    <div class="row mt-1">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h2 class="d-inline">ORDEN DE COMPRA NUMERO: </h2>
            <h2 class="d-inline text-danger">{{purchaseOrderDto.orderNumber}} </h2>
        </div>
        <!-- Purchase order table -->
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <h3>FECHA: {{purchaseOrderDto.date |date: 'dd-MM-yyyy'}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">

        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h3>UNIDAD EJECUTORA: {{purchaseOrderDto.executerUnit}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h3>DEPENDENCIA: {{purchaseOrderDto.dependency}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h3>FUENTE DE FINANCIAMIENTO: {{purchaseOrderDto.financingSource}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h3 class="d-inline">TOTAL: </h3>
            <h3 class="d-inline text-danger">{{purchaseOrderDto.purchaseOrderTotal | currency: '$': 'symbol'}}</h3>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <table class="table table-flex table-bordered">
                <thead>
                    <tr>
                        <th scope="col">CODIGO</th>
                        <th scope="col">CAT PROG</th>
                        <th scope="col">CANTIDAD</th>
                        <th scope="col">U.MEDIDA</th>
                        <th scope="col">DESCRIPCION</th>
                        <th scope="col">P.UNITARIO</th>
                        <th scope="col">TOTAL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of purchaseOrderItemDtos">
                        <td>{{item.code}}</td>
                        <td>{{item.programaticCat}}</td>
                        <td>{{item.quantity}}</td>
                        <td>{{item.measureUnit}}</td>
                        <td>{{item.itemDetail}}</td>
                        <td>{{item.unitCost | currency: '$': 'symbol'}}</td>
                        <td class="text-primary">{{item.totalEstimatedCost | currency: '$': 'symbol'}}</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</ng-template>

<ng-template #supplyTableTemplate>
    <!-- <button id="closeButton" (click)="onCloseSupplyTableTemplate()" class="btn btn-sm text-white">X</button> -->
    <div *ngIf="supplyItemDtos.length>0" class="container-flex">
        <div class="row mt-1">
            <div class="col-md-5"></div>
            <div class="col-md-5">
                <h2 class="d-inline">SUMINISTRO NUMERO: </h2>
                <h2 class="d-inline text-danger">{{supplyDto.supplyNumber}} </h2>

            </div>
            <div class="col-md-2">
                <h3>FECHA: {{supplyDto.date |date: 'dd-MM-yyyy' }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h3>UNIDAD EJECUTORA:</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-6">
                <h3>DEPENDENCIA SOLICITANTE: {{supplyDto.dependencyApplicant}}</h3>
            </div>
            <div class="col-md-4">
                <form [formGroup]="supplyOrganizationApplicantForm"
                    class="row g-6 form-group justifty-center text-center fw-bold ms-1">
                    <div class="form-group">
                        <label for="id" class="form-label fs-7 ">DEPENDENCIA</label>
                        <select id="id" formControlName="id" class="form-select  border-dark">
                            <option value="Seleccione la dependencia soliciante">Seleccione la dependencia soliciante
                            </option>
                            <option type="number" class="form-control border-dark "
                                *ngFor="let orgs of organizationsDto" id="id" [value]="orgs.id">
                                {{orgs.organizationName}}</option>
                        </select>
                        <div *ngIf="id.invalid && (id.dirty || id.touched)" class="text-danger">
                            <div *ngIf="id.errors?.['required']">
                                Debe seleccionar una organizacion
                            </div>
                        </div>
                        <button (click)="setSupplyOrganizationApplicant(supplyDto.id)"
                            class="btn btn-sm mt-1">APLICAR</button>
                    </div>

                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h3 class="d-inline">TOTAL:</h3>
                <h3 class="d-inline text-danger">{{supplyDto.estimatedTotalCost| currency: '$': 'symbol'}}</h3>
            </div>
        </div>
        <div class="row mt-1">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <table class="table table-flex table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">CODIGO</th>
                            <th scope="col">CAT PROG</th>
                            <th scope="col">CANTIDAD</th>
                            <th scope="col">U.MEDIDA</th>
                            <th scope="col">DESCRIPCION</th>
                            <th scope="col">P.UNITARIO</th>
                            <th scope="col">TOTAL</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of supplyItemDtos">
                            <td id="fullBlue_td">{{item.code}}</td>
                            <td>{{item.programaticCat}}</td>
                            <td>{{item.quantity}}</td>
                            <td>{{item.measureUnit}}</td>
                            <td>{{item.itemDetail}}</td>
                            <td>{{item.unitCost | currency: '$': 'symbol'}}</td>
                            <td id="fullBlue_td">{{item.totalEstimatedCost | currency: '$': 'symbol'}}</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>

        </div>
    </div>
</ng-template>

<ng-template #purchaseOrderListTemplate>


    <body id="orderListTemplate">
        <div class="container">
            <button id="closeButton" (click)="onClosepurchaseOrderListTemplate()" class="btn btn-sm text-white">X</button>
            <div class="row">
                <div class="col-md-4">
                    <div id="count">
                 
                        <h3 class="float mt-1 text-white">{{totalPurchaseOrders}}</h3>
                    </div>
    
                </div>
                <div class="col-md-4">
                    <h2 class="text-center text-white">ORDENES DE COMPRA</h2>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div id="table-div" >
                        <table class="table table-flex table-bordered table-striped h-75">
                            <thead>
                                <tr>
                                    <th scope="col">FECHA</th>
                                <th scope="col">NUMERO</th>
                                <th scope="col">UNIDAD EJECUTORA</th>
                                <th scope="col">DEPENDENCIA</th>
                                <th scope="col">TOTAL</th>
                                <th>VER ITEMS</th>
                                <th>A DEPOSITO</th>
                                <th>CARGADO</th>
                                <th>ELIMINAR</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let order of purchaseOrderDtos">
                               
                                    <td>{{order.date |date: 'dd-MM-yyyy'}}</td>
                                    <td id="fullBlue_td">{{order.orderNumber + '/' + order.date.toString().substring(2,4) }}
                                    </td>
                                    <td>{{order.executerUnit}}</td>
                                    <td>{{order.dependency}}</td>
                                    <td id="fullBlue_td">{{order.purchaseOrderTotal | currency: '$': 'symbol'}}</td>
                                    <td class="text-center"><button
                                            (click)="openDialogPurchaseOrderItemsList(purchaseOrderItemsListTemplate,order.id)"
                                            class="btn btn-sm  text-danger">-</button></td>
                                    <td class="text-center">
                                        <button *ngIf="order.loadedToDeposit"
                                            (click)="confirmDepositLoad(order.id,order.loadedToDeposit,order.orderNumber)"
                                            class="btn btn-sm text-danger" disabled>-</button>
                                        <button *ngIf="!order.loadedToDeposit"
                                            (click)="confirmDepositLoad(order.id,order.loadedToDeposit,order.orderNumber)"
                                            class="btn btn-sm text-danger">-</button>
                                    </td>
                                    <td *ngIf="order.loadedToDeposit" class="text-success text-center">
                                        {{order.loadedToDepositName}}</td>
                                    <td *ngIf="!order.loadedToDeposit" class="text-danger  text-center">No</td>
                                    <td> <button (click)="confirmDeletePurchaseOrder(order.id)"
                                            class="btn btn-sm text-danger">-</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </body>
</ng-template>

<ng-template #supplyListTemplate>

    <body id="orderListTemplate">
        <div class="container">
            <button id="closeButton" (click)="onCloseSupplyListTemplate()" class="btn btn-sm text-white">X</button>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <h2 class="text-center text-white">SUMINISTROS</h2>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div id="table-div" >
                        <table class="table table-flex table-bordered table-striped h-75">
                            <thead>
                                <tr>
                                    <th scope="col">FECHA</th>
                                    <th scope="col">NUMERO</th>
                                    <th scope="col">SOLICITANTE</th>
                                    <th scope="col">COSTO TOTAL ESTIMADO</th>
                                    <th scope="col">VER ITEMS</th>
                                    <th scope="col">COMPARAR</th>
                                    <th scope="col">DEPENDENCIA</th>
                                    <th scope="col">ELIMINAR</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let supply of suppliesDto">
                                    <td>{{supply.date |date: 'dd-MM-yyyy'}}</td>
                                    <td id="fullBlue_td">{{supply.supplyNumber + '/'+
                                        supply.date.toString().substring(2,4)}}</td>

                                    <td>{{supply.applicantOrganization}}</td>
                                    <td id="fullBlue_td">{{supply.estimatedTotalCost | currency: '$': 'symbol'}}</td>
                                    <td class="text-center"><button
                                            (click)="openDialogSuppliesItemList(supplyItemsListTemplate,supply.id)"
                                            class="btn btn-lg  text-danger"></button></td>
                                    <td class="text-center">
                                        <button
                                            (click)="openSupplyCorrectionNoteDialog(supplyCorrectionNoteTemplate,supply.id)"
                                            class="btn btn-lg text-danger"></button>
                                    </td>
                                    <td class="text-center">
                                        <button (click)="openUpdateSupplyOrganizationApplicantTemplate
                            (updateSuplyOrganizationApplicantTemplate,supply.id)"
                                            class="btn btn-lg text-danger"></button>
                                    </td>
                                    <td class="text-center"><button (click)="confirmDeleteSupply(supply.id)"
                                            class="btn btn-lg text-danger"></button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </body>
</ng-template>

<ng-template #purchaseOrderItemsListTemplate>
    <button id="closeButton" (click)="onClosepurchaseOrderItemListTemplate()" class="btn btn-sm text-white">X</button>
    <div class="mt-1 ms-1">
        <h1 class="d-inline">O.C NUMERO:</h1>
        <h2 class="d-inline"> {{findedPurchaseOrder.orderNumber+'/'+findedPurchaseOrder.date.toString().substring(2,4)}}
        </h2>
    </div>
    <table class="table-sm table-bordered h-75">
        <thead>
            <tr>
                <th scope="col">CODIGO</th>
                <th scope="col">CAT.PROG.</th>
                <th scope="col">CANTIDAD</th>
                <th scope="col">U.MEDIDA</th>
                <th scope="col">DESCRIPCION</th>
                <th scope="col">P.UNITARIO</th>
                <th scope="col">TOTAL</th>
            </tr>
        </thead>
        <tbody class="text-center">
            <tr *ngFor="let orderItem of purchaseOrderItemDtosListShow">
                <td id="fullBlue_td">{{orderItem.code}}</td>
                <td>{{orderItem.programaticCat}}</td>
                <td *ngIf="orderItem.quantity>=10" class="text-success">{{orderItem.quantity}}</td>
                <td *ngIf="orderItem.quantity<10" class="text-danger">{{orderItem.quantity}}</td>
                <td>{{orderItem.measureUnit}}</td>
                <td>{{orderItem.itemDetail}}</td>
                <td>{{orderItem.unitCost | currency: '$': 'symbol'}}</td>
                <td id="fullBlue_td">{{orderItem.totalEstimatedCost | currency: '$': 'symbol'}}</td>

            </tr>

        </tbody>


    </table>

</ng-template>


<ng-template #supplyItemsListTemplate>
    <button id="closeButton" (click)="onCloseSupplyItemListTemplate()" class="btn btn-sm text-white">X</button>
    <div class="mt-1">
        <h1 class="d-inline">SUMINISTRO NUMERO:</h1>
        <h2 class="d-inline"> {{findedSupply.supplyNumber + '/' + findedSupply.date.toString().substring(2,4)}}</h2>
    </div>
    <table class="table-sm table-bordered h-75">
        <thead>
            <tr>
                <th scope="col">CODIGO</th>
                <th scope="col">CAT.PROG.</th>
                <th scope="col">CANTIDAD</th>
                <th scope="col">U.MEDIDA</th>
                <th scope="col">DESCRIPCION</th>
                <th scope="col">P.UNITARIO</th>
                <th scope="col">TOTAL</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let supplyItem of supplyItemsDtoListShow">
                <td id="fullBlue_td">{{supplyItem.code}}</td>
                <td>{{supplyItem.programaticCat}}</td>
                <td *ngIf="supplyItem.quantity>=10" class="text-success">{{supplyItem.quantity}}</td>
                <td *ngIf="supplyItem.quantity<10" class="text-danger">{{supplyItem.quantity}}</td>
                <td>{{supplyItem.measureUnit}}</td>
                <td>{{supplyItem.itemDetail}}</td>
                <td>{{supplyItem.unitCost | currency: '$': 'symbol'}}</td>
                <td id="fullBlue_td">{{supplyItem.totalEstimatedCost | currency: '$': 'symbol'}}</td>

            </tr>

        </tbody>


    </table>
</ng-template>
<ng-template #purchaseOrderToDepositTemplate>
    <button id="closeButton" (click)="onCloseOrderToDepositTemplate()" class="btn btn-sm text-white">X</button>
    <table class="table-sm table-bordered h-75">
        <thead>
            <tr>
                <th scope="col">ESTADO</th>
                <th scope="col">CODIGO</th>
                <th scope="col">DESCRIPCION</th>
                <th scope="col">U.MEDIDA</th>
                <th scope="col">CANTIDAD</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let report of depositReport">
                <td class="text-primary">{{report.depositItemStatus}}</td>
                <td>{{report.depositItemCode}}</td>
                <td>{{report.depositItemDescription}}</td>
                <td>{{report.depositItemMeasureUnit}}</td>
                <td *ngIf="report.depositItemQuantity>=10" class="text-success">{{report.depositItemQuantity}}</td>
                <td *ngIf="report.depositItemQuantity<10" class="text-danger">{{report.depositItemQuantity}}</td>

            </tr>

        </tbody>


    </table>
</ng-template>
<ng-template #supplyCorrectionNoteTemplate>

    <div class="container-flex">
        <button id="closeButton" (click)="onCloseSupplyCorrectionNoteTemplate()"
            class="btn btn-sm text-white">X</button>
        <div class="row mt-2">
            <div class="col-md-3">

            </div>

            <div class="col-md-6">
                <h2>DETALLE DE COMPARACION DE SUMINISTRO CON STOCK</h2>

            </div>

            <div class="col-md-3">
                <div>
                    <h4> Fecha: {{now |date: 'dd-MM-yyyy'}}</h4>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div clasS="col-md-6">
                <div>
                    <h4 class="d-inline">DEPOSITO: </h4>
                    <h1 class="d-inline"> {{supplyCorrectionNote.depositName}}</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-6">
                <div>
                    <h4 class="d-inline"> SUMINISTRO NUMERO:</h4>
                    <h1 class="d-inline"> {{supplyCorrectionNote.supplyNumber + '/'
                        + supplyCorrectionNote.supplyDate.toString().substring(2,4)}}</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-6">
                <div>
                    <h4 class="d-inline">DE:</h4>
                    <h1 class="d-inline"> {{supplyCorrectionNote.from.toUpperCase()}}</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-6">
                <div>
                    <h4 class="d-inline">DEPENDENCIA SOLICITANTE:</h4>
                    <h1 class="d-inline"> {{supplyCorrectionNote.to.toUpperCase()}}</h1>
                </div>
            </div>
            <p class="lead">
                <hr class="my-4">
        </div>
        <div class="row mt-2" *ngFor="let item of supplyCorrectionNote.supplyReport">
            <div class="col-md-2"></div>
            <div class="col-md-3">
                <div class="mt-2">
                    <p>ITEM SUMINISTRO:</p>
                    <h1 id="supplyReportFullBlue" class="d-inline">CODIGO:</h1><small class="ms-2 ">
                        {{item.supplyItemCode}}</small>
                </div>

                <div>
                    <h1 id="supplyReportFullBlue" class="d-inline"> DETALLE:</h1><small class="ms-2 ">
                        {{item.supplyItemDetail}}</small>
                </div>
                <div>
                    <h1 id="supplyReportFullBlue" class="d-inline"> U.MEDIDA:</h1><small class="ms-2 ">
                        {{item.supplyItemMeasureUnit}}</small>
                </div>
                <div>
                    <h1 class="d-inline"> CANTIDAD:</h1> <small
                        class="ms-2 text-success">{{item.supplyItemQuantity}}</small>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <div class="mt-2">
                    <p>ITEM DEPOSITO:</p>
                    <h1 id="supplyReportFullBlue" class="d-inline">CODIGO:</h1><small class="ms-2">
                        {{item.depositItemCode}} </small>
                </div>

                <div>
                    <h1 id="supplyReportFullBlue" class="d-inline"> DETALLE:</h1><small class="ms-2">
                        {{item.depositItemDetail}}</small>
                </div>
                <div>
                    <h1 id="supplyReportFullBlue" class="d-inline"> U.MEDIDA:</h1><small class="ms-2">
                        {{item.depositItemMeasureUnit}}</small>
                </div>
                <div *ngIf="item.depositItemQuantity>=10">
                    <h1 class="d-inline">CANTIDAD :</h1> <small
                        class="ms-2 text-success">{{item.depositItemQuantity}}</small>
                </div>
                <div *ngIf="item.depositItemQuantity<10">
                    <h1 class="d-inline">CANTIDAD :</h1> <small
                        class="ms-2 text-danger">{{item.depositItemQuantity}}</small>
                </div>
                <div *ngIf="item.depositQuantityLeft>0">
                    <h1 class="d-inline">SOBRANTE :</h1> <small
                        class="ms-2 text-warning">{{item.depositQuantityLeft}}</small>

                </div>
                <div *ngIf="item.depositQuantityLeft<0">
                    <h1 class="d-inline">FALTANTE :</h1> <small
                        class="ms-2 text-danger">{{item.depositQuantityLeft.toString().replace("-","")}}</small>
                </div>
            </div>
            <p class="lead">
                <hr class="my-4">
        </div>
    </div>
</ng-template>
<ng-template #createDepositTemplate>
    <button id="closeButton" (click)="onCloseDepositCreationTemplate()" class="btn btn-sm text-white">X</button>
    <div class="container-flex">
        <div class="row mt-5">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <form [formGroup]="depositFormbuilder" class="d-inline form-group text-center fw-bold">
                    <div class="form-group">
                        <label for="name" class="form-label">Nombre</label>
                        <input type="text" class="form-control" formControlName="name" id="name">
                        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger">
                            <div *ngIf="name.errors?.['required']">
                                Falta el nomber...
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="streetName" class="form-label">Calle</label>
                        <input type="streetName" class="form-control" formControlName="streetName" id="streetName">
                        <div *ngIf="streetName.invalid && (streetName.dirty || streetName.touched)" class="text-danger">
                            <div *ngIf="streetName.errors?.['required']">
                                Falta la calle...
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="houseNumber" class="form-label">Numero</label>
                        <input type="houseNumber" class="form-control" formControlName="houseNumber" id="houseNumber">
                        <div *ngIf="houseNumber.invalid && (houseNumber.dirty || houseNumber.touched)"
                            class="text-danger">
                            <div *ngIf="houseNumber.errors?.['required']">
                                Falta el numero de calle...
                            </div>
                        </div>
                        <button class="rounded-pill btn btn-sm text-center text-white mt-2"
                            (click)="createDeposit()">Guardar</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #depositSelectionTemplate>
    <div class="container-flex">
        <div class="row mt-3">
            <div class="col">
                <h5 class="text-center">SELECCIONAR DEPOSTIO</h5>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-5"></div>
            <div class="col-md-4">
                <table class="table-sm table-bordered h-75">
                    <thead>
                        <tr>
                            <th scope="col">DEPOSITO</th>
                            <th scope="col">SELECCIONAR</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center" *ngFor="let deposit of depositDtos">
                            <td class="text-primary">{{deposit.name}}</td>
                            <td><button (click)="setCurrentDeposit(deposit.id)"
                                    class="btn btn-sm text-primary">-</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #updateDepositContolTemplate>

    <body>
        <button id="closeButton" (click)="onCloseUpdateDepositControlTemplate()"
            class="btn btn-sm text-white">X</button>
        <div class="container-sm w-75">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 text-center">
                    <form [formGroup]="depositControlUpdateForm"
                        class="row g-6 form-group justifty-center text-center fw-bold ms-1">

                        <div class="form-group">
                            <label for="itemCode" class=" form-label fs-7 ">CODIGO</label>
                            <input class="form-control border-dark" type="text" formControlName="itemCode" id="itemCode"
                                [readonly]="disableSelect">
                        </div>
                        <div class="form-group">
                            <label for="measureUnit" class=" form-label fs-7 ">U.MEDIDA</label>
                            <input class="form-control border-dark" type="text" formControlName="measureUnit"
                                id="measureUnit" [readonly]="disableSelect">
                        </div>
                        <div class="form-group">
                            <label for="itemDescription" class=" form-label fs-7 ">DESCRIPCION</label>
                            <input class="form-control border-dark" type="text" formControlName="itemDescription"
                                id="itemDescription" [readonly]="disableSelect">
                        </div>
                        <div class="form-group">
                            <label for="itemUnitPrice" class=" form-label fs-7 ">P.UNITARIO</label>
                            <input class="form-control border-dark" type="number" formControlName="itemUnitPrice"
                                id="itemUnitPrice" [readonly]="disableSelect">
                        </div>
                        <div class="form-group">
                            <label for="quantity" class=" form-label fs-7 ">CANTIDAD</label>
                            <input class="form-control border-dark" type="number" formControlName="quantity"
                                id="quantity">
                            <div *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)" class="text-danger">
                                <div *ngIf="quantity.errors?.['required']">
                                    Debe ingresar una cantidad validad
                                </div>
                            </div>
                        </div>

                    </form>

                </div>

                <div class="col-md-3">
                    <div class="ms-5 mt-2">
                        <div *ngIf="disableSelect">
                            <div class="d-inline mt-3">
                                <div class="fw-bold" id="label-disable-select">HABILITAR EDICION</div>
                            </div>
                            <div class="d-inlin">
                                <div id="btnDisableSelect" (click)="editAllDepositControlfields(false)"
                                    class="btn btn-sm text-white ms-5 btn-danger border-dark"></div>
                            </div>
                        </div>
                        <div *ngIf="!disableSelect">
                            <div class="d-inline mt-3">
                                <div class="fw-bold" id="label-disable-select">DESHABILITAR EDICION</div>
                            </div>
                            <div class="d-inlin">
                                <div id="btnDisableSelect" (click)="editAllDepositControlfields(true)"
                                    class="btn btn-sm text-white ms-5 btn-warning border-dark"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-md-4 ms-5"></div>
                <div class="col-md-1">
                    <button id="btnControlUpdate" (click)="updateDepositControl()"
                        class="btn btn-sm text-white">Actualizar</button>
                </div>
                <div class="col-md-1 ms-5">
                    <button id="btnControlCancel" (click)="onCloseUpdateDepositControlTemplate()"
                        class="btn btn-sm text-dark">Cancelar</button>
                </div>
            </div>
        </div>
    </body>
</ng-template>

<ng-template #updateSuplyOrganizationApplicantTemplate>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-4">
            <form [formGroup]="supplyOrganizationApplicantForm"
                class="row g-6 form-group justifty-center text-center fw-bold ms-1">
                <div class="form-group">
                    <label for="id" class="form-label fs-7 ">DEPENDENCIA</label>
                    <select id="id" formControlName="id" class="form-select  border-dark">
                        <option value="Seleccione la dependencia soliciante">Seleccione la dependencia soliciante
                        </option>
                        <option type="number" class="form-control border-dark " *ngFor="let orgs of organizationsDto"
                            id="id" [value]="orgs.id">
                            {{orgs.organizationName}}</option>
                    </select>
                    <div *ngIf="id.invalid && (id.dirty || id.touched)" class="text-danger">
                        <div *ngIf="id.errors?.['required']">
                            Debe seleccionar una organizacion
                        </div>
                    </div>
                </div>
                <button (click)="setUpdateSupplyOrganizationApplicant(findedSupplyId)"
                    class="btn btn-sm">APLICAR</button>
            </form>
        </div>
    </div>
</ng-template>