<body>
    <app-navbar></app-navbar>
    <div class="container-flex">
        <div class="row">

            <div class="col text-center mt-2">

            </div>
        </div>
        <div class="row mt-5 ms-5">
            <div class="col-md-3">
                <h5 >ORDEN DE COMPRA</h5>
                <hr class="my-4">
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <h5 >SUMINISTRO</h5>
                <hr class="my-4">
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <h5 >DEPOSITO</h5>
                <hr class="my-4">
            </div>
        </div>
        <div class="row mt-3 ms-5">
          
            <div class="col-md-3 mt-1">
                <!-- Purchase order jumbotron -->
                <div class="jumbotron ms-1">
                    <div>
                    <p class="d-inline display-4">SUBIR</p>
                   <a (click)="uploadPurchaseOrderFile()" class="btn btn-sm ms-3 " role="button">-</a> 
                    <input id="uploadInput" class="w-50 ms-2" type="file" (change)="selectFile($event)"/>
                   </div>
                   <div id="orderItem" class="mt-1">
                    <p class="d-inline display-4">VER</p>
                    <a routerLink="/container" class="btn btn-sm ms-3" href="#" role="button">-</a>
                   </div>
                    <p class="lead">
                        <hr class="my-4">
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3 mt-1">
                 <!-- Supply jumbotron -->
                <div class="jumbotron  ms-1">
                    <div>
                        <p class="d-inline display-4">SUBIR</p>
                       <a (click)="uploadSupplyFile()" class="btn btn-sm ms-3 " href="#" role="button">-</a> 
                        <input id="uploadInput" class="w-50 ms-2" type="file" (change)="selectFile($event)"/>
                       </div>
                    <p class="lead">
                        <hr class="my-4">
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3 mt-1">
                   <!-- Deposit jumbotron -->
                <div class="jumbotron  ms-1">
                    <p class="d-inline display-4">VER STOCK</p>
                    <a routerLink="/open-container" class="btn btn-sm ms-3 " href="#" role="button">-</a>
                    <p class="lead">
                        <hr class="my-4">
                </div>
            </div>
        </div>
        <div class="row mt-1 ms-5">
            <div *ngIf="purchaseOrderItemDtos.length>0" class="col-md-3">
                <h4>NUMERO: {{purchaseOrderDto.orderNumber}}</h4>
               <table class="table-sm table-bordered h-75">
                <thead>
                    <tr>
                        <th scope="col">CODIGO</th>
                        <th scope="col">CAT PROG</th>
                        <th scope="col">CANTIDAD</th>
                        <th scope="col">U.MEDIDA</th>
                        <th scope="col">DESCRIPCION</th>
                        <th scope="col">P.UNITARIO</th>
                        <th scope="col">TOTAL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of purchaseOrderItemDtos">
                        <td>{{item.code}}</td>
                        <td>{{item.programaticCat}}</td>
                        <td>{{item.quantity}}</td>
                        <td>{{item.measureUnit}}</td>
                        <td>{{item.itemDetail}}</td>
                        <td>{{item.unitCost}}</td>
                        <td>{{item.totalEstimatedCost}}</td>
                    </tr>
                   
                </tbody>
               </table>
            </div>
        </div>
    </div>
  
       
   
</body>