body{
    background: linear-gradient(245.59deg, rgb(231, 235, 244)30%, rgb(224, 222, 234) 50%, #e3e2ec 79%);
}
#correction{
    background: linear-gradient(245.59deg, rgb(231, 235, 244)30%, rgb(224, 222, 234) 50%, #e3e2ec 79%);
}
#orderListTemplate{
    background: linear-gradient(245.59deg, rgb(187, 185, 199)30%, rgb(198, 196, 206) 50%, #d5d2dc 79%);
}
#purchaseOrders{
    height: 40rem;
    text-align: center;
    border: 1px solid black;
    background: linear-gradient(245.59deg, rgb(231, 235, 244)30%, rgb(216, 205, 225) 50%, #aebdc9 79%);
   
}


#supplyUpload{
    background: linear-gradient(245.59deg, rgb(187, 185, 199)30%, rgb(198, 196, 206) 50%, #d5d2dc 79%);
}
#purchaseOrdersTable{
    width: 64.7rem;
}

.float { float:left; width:100px; height:100px }



button,a{
    background: linear-gradient(245.59deg, rgb(99, 99, 190)33.33%, rgb(118, 90, 194) 33.33%, #6a4dc9 33.33%); 
    color:red;
    font-family: "Fira Code", monospace;
    font-weight: bold;
}
button:hover{
    background: linear-gradient(245.59deg, rgb(200, 134, 12)20%, rgb(201, 104, 20) 30%, #d7b90d 79%); 
    color:rgb(215, 154, 41);
}
#btnDisableSelect{
    width: 2rem;
    height: 2rem;
}
#bigBag{
    background: linear-gradient(245.59deg, rgb(177, 66, 158)30%, rgb(200, 27, 165) 50%, #cc52b8 79%);
   color:rgb(230, 229, 221)
}


h1{
    font-size: 1rem;
    font-family: 'Noto Sans', sans-serif;
}

h2{
    color: rgb(56, 18, 195);
    font-family: "Anton", sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
}
h3{
    font-family: "Anton", sans-serif;
}
h4{
    color: rgb(47, 13, 174);
    font-family: "Anton", sans-serif;
    font-weight: bold;
    font-size: 1rem;
    
}

h5{
    color:#000002;
    font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
    font-size: 2.1rem;
}


p{
    color: #361e96;
    font-size: 0.9rem;
    font-family: "Fira Code", monospace;
    font-weight: bold;
}

#orderItem{
    margin-left: 1.1rem;
}
#uploadInput{
    font-size: 0.7rem;
 color: #1b4f4f;
}
th{
    
    border: 1px solid black;
    font-size: 0.6rem;
}
td{
    border: 1px solid rgb(129, 81, 220);
    font-size: 0.9rem;
    font-family: "Anton", sans-serif;
   
}
#fullBlue_td{
    color: #2a31b6;
    font-size: 0.9rem;
    font-family: "Anton", sans-serif;
   
   
}
#supplyReportFullBlue{
    color: #2a31b6;
    font-size: 0.9rem;
    font-family: 'Quattrocento', serif;
    font-weight: bold;
}

small{
    color:rgb(180, 10, 10);
    font-weight: bold;
    font-family: 'Quattrocento', serif;
    font-size: 1rem;
}
#closeButton{
  position: absolute;
  right: 0;
}
form{
    font-weight: bold;
    font-family: 'Quattrocento', serif;
    font-size: 1rem; 
}
input{
    font-weight: bold;
}

#udpateDepositControlTemplate{
    background: linear-gradient(245.59deg, rgb(231, 235, 244)30%, rgb(224, 222, 234) 50%, #e3e2ec 79%);
}

#btnControlUpdate{
    background: linear-gradient(245.59deg, rgb(206, 118, 118)30%, rgb(223, 114, 117) 50%, #d87a7e 79%);
}
#btnControlCancel{
    background: linear-gradient(245.59deg, rgb(214, 225, 153)30%, rgb(211, 212, 128) 50%, #bbd976 79%);
}
#import_excel{
    margin-left:2.3rem;
}
#createDepositBtn{
    font-family: "Fira Code", monospace;
    font-weight: bold;
    color: #d5dab9;
    background: linear-gradient(245.59deg, rgb(121, 13, 103)30%, rgb(200, 27, 165) 50%, #751f66 79%);
}
#label-disable-select{
   
    font-size: 0.9rem;
}
.mat-toolbar{
    background: linear-gradient(245.59deg, rgb(121, 13, 103)30%, rgb(200, 27, 165) 50%, #751f66 79%) !important;
}
#selectedDeposit{
    font-family: "Fira Code", monospace;
    border: 2px solid rgb(41, 18, 219);
    color: #6565c7;
    
    padding: 3px;
}
#factory_icon{
  
    width: 2.5rem;
    height: 2.0rem;
    margin-bottom: 0.5rem;
}
#bag_icon{
    width: 1.5rem;
    height: 1.5rem;
    margin-bottom: 0.5rem;
}
#glass_icon{
    width: 0.8rem;
    height: 0.8rem;
    margin-bottom: 0.5rem;
}
#thumbsUp{
    width: 1.5rem;
    height: 1.5rem;
}