body{
    background: linear-gradient(245.59deg, rgb(221, 224, 232) 0%, rgb(220, 218, 229) 28.53%, #dedde6 75.52%);
    font-family: 'Quattrocento', serif;
}

#main-container{
    
}

label{
    font-weight: bold;
}

input{
    background-color: rgb(240, 235, 230);
    font-weight: bold;
}
#searchInput{
    background-color: rgb(255, 253, 250);
    font-weight: bold;
}

select{
    background-color: rgb(240, 235, 230);
}

option{
    background-color: rgb(232, 226, 219);
    font-weight: bold;
}