#mainContainer{
    background: linear-gradient(245.59deg, rgb(221, 224, 232) 0%, rgb(220, 218, 229) 28.53%, #dedde6 75.52%);
    font-family: 'Quattrocento', serif;
}
button{
    background: linear-gradient(245.59deg, rgb(73, 105, 192) 0%, rgb(86, 66, 175) 28.53%, #7e76b9 75.52%); 
}

#create{
    background: linear-gradient(245.59deg, rgb(192, 73, 83) 0%,  rgb(192, 73, 83) 0%, #cf2f6c 75.52%); 
}
p{
    color: rgb(199, 10, 10);
    font-size: 0.9rem;
    font-family: 'Quattrocento', serif;
}
h1{
    font-weight: bold;
    font-size: 1.6rem;
    font-family: 'Quattrocento', serif; 
}
#totalLetter{
   
 
    font-weight: bold;
    color: #cf2f6c;
    font-size: 1.7rem;
    font-family: 'Quattrocento', serif; 
}

#totalCol{
  
}
