<div class="container">
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-8">
            <form formControlName="form" [formGroup]="form">
                <div class="formGroup">
            <label for="date">Fecha</label>
            <input type="date", id="date" [value]="date">
        </div>
        <div class="formGroup">
            <label for="ticketNumber">Numero de factura</label>
            <input type="text" name="ticketNumber" id="ticketNumber" [value]="ticketNumber">
        </div>
        <div class="formGroup">
            <label for="provider">Proveedor</label>
            <input type="text" name="provider" id="provider" [value]="provider">
        </div>
        <div class="formGroup">
            <label for="ticketTotal">Proveedor</label>
            <input type="text" name="ticketTotal" id="ticketTotal" [value]="ticketTotal">
        </div>
        <div class="formGroup">
            <label for="inputNumber">Proveedor</label>
            <input type="number" name="inputNumber" id="inputNumber" [value]="ticketTotal">
        </div>

            </form>
        </div>
    </div>
</div>
