<app-navbar></app-navbar>
<body id="mainContainer">
    <div class="container-fluid">
    <div class="row">
        <div class="col">

        </div>
        <div class="col-md-4 mt-5">
            <form [formGroup]="containerFormBuilder"
                class="form-group   p-3 bg-light border border-dark text-center fw-bold">
                <div class="form-group mt-3">
                    <label for="title" class="form-label fs-7">Tipo</label>
                    <select id="title" formControlName="title" class="form-select border-dark">
                        <option value="">Seleccione tipo de caja</option>
                        <option class="form-control" *ngFor="let sm of smallBoxTypes" id="title" [value]="sm">
                            {{sm}}</option>
                        <div *ngIf="title.invalid && (title.dirty || title.touched)" class="text-danger">
                            <div *ngIf="title.errors?.['required']">
                                Debes seleccionar una categoria
                            </div>

                            <div class="mt-1" *ngIf="title.errors?.['errors']">
                                password must be at least 6 characters long.
                            </div>
                        </div>
                    </select>
                </div>
                <div class="form-group mt-3">
                    <label for="responsible" class="form-label fs-7">Responsable</label>
                    <input class="form-control border-dark" type="text" formControlName="responsible" id="responsible">
                    <div *ngIf="responsible.invalid && (responsible.dirty || responsible.touched)" class="text-danger">
                        <div *ngIf="responsible.errors?.['required']">
                            Falta el nombre...
                        </div>
                    </div>
                </div>
                <div class="form-group mt-3">
                    <label for="organization" class="form-label fs-7">Dependencia</label>
                    <select id="organization" formControlName="organization" class="form-select border-dark">
                        <option value="">Seleccione una Dependencia</option>
                        <option class="form-control" *ngFor="let org of organizations" id="organization" [value]="org.id">
                            {{org.organizationName}}</option>
                        <div *ngIf="organization.invalid && (organization.dirty || organization.touched)" class="text-danger">
                            <div *ngIf="organization.errors?.['required']">
                                Debes seleccionar una categoria
                            </div>

                            <div class="mt-1" *ngIf="organization.errors?.['errors']">
                                password must be at least 6 characters long.
                            </div>
                        </div>
                    </select>
                </div>
                <button type="submit" (click)="onCreateContainer()"
                class="btn btn-success border border-dark mt-2 mb-2">Guardar</button>
            </form>

        </div>
        <div class="col-md-4 mt-5">

        </div>
    </div>
</div>
</body>