<app-navbar></app-navbar>
<body id="mainContainer">
    <div class="container-fluid">
    <div class="row">
        <div class="col">

        </div>
        <div class="col-md-4 mt-5">
            <form [formGroup]="containerFormBuilder"
                class="form-group   p-3 bg-light border border-dark text-center fw-bold">
                <div class="form-group mt-3">
                    <label for="smallBoxType" class="form-label fs-7">Tipo</label>
                    <select id="smallBoxType" formControlName="smallBoxType" class="form-select border-dark">
                        <option value="">Seleccione tipo de rendicion</option>
                        <option class="form-control" *ngFor="let sm of smallBoxTypes" id="smallBoxType" [value]="sm.smallBoxType">
                            {{sm.smallBoxType}}</option>
                        <div *ngIf="smallBoxType.invalid && (smallBoxType.dirty || smallBoxType.touched)" class="text-danger">
                            <div *ngIf="smallBoxType.errors?.['required']">
                                Debes seleccionar una rendicion
                            </div>

                            <div class="mt-1" *ngIf="smallBoxType.errors?.['errors']">
                                password must be at least 6 characters long.
                            </div>
                        </div>
                    </select>
                </div>
                <div class="form-group mt-3">
                    <label for="organizationId" class="form-label fs-7">Dependencia</label>
                    <select id="organizationId" formControlName="organizationId" class="form-select border-dark">
                        <option value="">Seleccione una Dependencia</option>
                        <option class="form-control" *ngFor="let org of organizations" id="organization" [value]="org.id">
                            {{org.organizationName}}</option>
                        <div *ngIf="organizationId.invalid && (organizationId.dirty || organizationId.touched)" class="text-danger">
                            <div *ngIf="organizationId.errors?.['required']">
                                Debes seleccionar una Dependencia
                            </div>

                            <div class="mt-1" *ngIf="organizationId.errors?.['errors']">
                                Debes seleccionar una Dependencia
                            </div>
                        </div>
                    </select>
                </div>
                <button type="submit" (click)="onCreateContainer()"
                class="btn btn-success border border-dark mt-2 mb-2">Guardar</button>
            </form>

        </div>
        <div class="col-md-4 mt-5">

        </div>
    </div>
</div>
</body>