
#container-top{

}

#cont{
    background: linear-gradient(245.59deg, rgb(119, 133, 173) 0%, rgb(151, 136, 232) 28.53%, #7970b0 75.52%);
  color: rgb(8, 13, 13);
}

#top-row{
    background-color: white;
}
h3{
    font-family:'Noto Sans', sans-serif;
   
}