body{
    background: linear-gradient(245.59deg, rgb(231, 235, 244)30%, rgb(224, 222, 234) 50%, #e3e2ec 79%);
   
}
#body_color{
    background: linear-gradient(245.59deg, rgb(231, 235, 244)30%, rgb(224, 222, 234) 50%, #e3e2ec 79%);
}
#createRequestCol{
    background: linear-gradient(245.59deg, rgb(231, 235, 244)30%, rgb(224, 222, 234) 50%, #e3e2ec 79%);
   
}
#showItems{
    background: linear-gradient(245.59deg, rgb(231, 235, 244)30%, rgb(224, 222, 234) 50%, #e3e2ec 79%);
}
#toSendContainer{
    background: linear-gradient(245.59deg, rgb(231, 235, 244)30%, rgb(224, 222, 234) 50%, #e3e2ec 79%);
}
#item_selection_table{
    background: linear-gradient(245.59deg, rgb(231, 235, 244)30%, rgb(224, 222, 234) 50%, #e3e2ec 79%);
}
table{
    text-align: center;
    max-height: 30rem;
  overflow: auto;
  display:inline-block;
  border: solid 1px black;
  background: linear-gradient(245.59deg, rgb(239, 239, 240)30%, rgb(234, 233, 222) 50%, #e3e2ec 79%);
}
th{
    
    border: 1px solid black;
    font-size: 0.6rem;
}
td{
    max-height: 20px;
    border: 1px solid rgb(0, 0, 0);
    font-size: 0.9rem;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
}
#fullBlue_td{
    color: #2a31b6;
    font-size: 0.9rem;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
}

.float { float:left; width:100px; height:100px }

.table-wrapper {
    max-height: 40rem;
    overflow: auto;
    display:inline-block;
  }

.barofcolourRed{
    margin-left: 1rem;
    margin-right: 1rem;
    background: linear-gradient(245.59deg, rgb(216, 13, 13)33.33%, rgb(202, 9, 19) 33.33%, #d61111 33.33%);
    height: 2rem;
}

.barofcolourColumn{
    padding-top: 0.1rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    background: linear-gradient(245.59deg, rgb(167, 179, 208)30%, rgb(174, 167, 213) 50%, #b5b0da 79%);
    height: 2rem;
}
.barofcolourOther{
    padding-top: 0.1rem;
    margin-left: 0;
    margin-right: 0;
    background: linear-gradient(245.59deg, rgb(184, 195, 219)30%, rgb(184, 179, 216) 50%, #bebad8 79%);
    height: 2rem;
}
#deleteIcon{
  height: 1.5rem;
}
#btnSend{
    height: 1.6rem;
    width: 4.6rem;
}
button{
    background: linear-gradient(245.59deg, rgb(111, 111, 199)33.33%, rgb(145, 124, 202) 33.33%, #6f5cae 33.33%);
    color:red;
    font-family: "Fira Code", monospace;
   
}
button:hover{
    background: linear-gradient(245.59deg, rgb(200, 134, 12)20%, rgb(201, 104, 20) 30%, #d7b90d 79%); 
    color:rgb(215, 154, 41);
}
h1{
    font-size: 1rem;
    font-family: 'Noto Sans', sans-serif;
}

h2{
    color: rgb(56, 18, 195);
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
}
h3{
    font-family: 'Noto Sans', sans-serif;
}
h4{
    font-family: 'Quattrocento', serif;
    font-weight: 500;
    font-size: 1rem;
    
}

h5{
    color:#000002;
    font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
    font-size: 2.1rem;
}
label{
    font-family: 'Quattrocento', serif;
    font-weight: bold;
}
select{
    font-family: "Fira Code", monospace;
    font-weight: bold;
   
}
option{
    font-family: "Fira Code", monospace;
    font-weight: bold;
   
}
a{
    font-family: "Anton", sans-serif;
    font-weight: bold;
 
}

#quantity{
    width: 6.5rem;
}
#quantityShow{
    color: rgb(8, 89, 8);
    font-weight: bold;
}

#supplyReportFullBlue{
    color: #2a31b6;
    font-size: 0.9rem;
    font-family: 'Quattrocento', serif;
    font-weight: bold;
}

small{
    color:rgb(180, 10, 10);
    font-weight: bold;
    font-family: 'Quattrocento', serif;
    font-size: 1rem;
}
#closeButton{
  position: absolute;
  right: 0;
 border-radius: 3px;
 
}
form{
    font-weight: bold;
    font-family: 'Quattrocento', serif;
    font-size: 1rem; 
}
input{
    font-weight: bold;
}
small{
    font-size: 0.8rem;
}