<app-navbar></app-navbar>

<body>


    <div class="container-flex">
        <div class="row">
            <div class="col">
                <div class="barofcolourOther mt-0"></div>
            </div>
        </div>
        <div class="row">
          
            <div class="col-md-8 ms-3">
                <div class="jumbotron mt-3">
                    <div>
                        <h1 class="d-inline display-4">Nuevo</h1>
                        <button (click)="openCreateRequestTemplate(createRequestTemplate)" id="btnSend"
                            class="d-inline btn btn-primary btn-md ms-3 mb-2" role="button">-</button>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="barofcolourRed mt-3">-</div>
            </div>
        </div>
        <div class="row text-center mt-2">
          
            <div class="col-md-2 ms-3">
                <h2>FECHA</h2>
                <hr class="my-4">
            </div>
            <div class="col-md-4">
                <h2>ENVIADO A</h2>
                <hr class="my-4">
            </div>
            <div class="col-md-3">
                <h2>CODIGO DE RECEPCION</h2>
                <hr class="my-4">
            </div>
        </div>
        <div *ngIf="depositRequestDtos.length>0" >
        <div class="row text-center" *ngFor="let request of depositRequestDtos">
            
            <div class="col-md-2 ms-3">
                <h3 class="ms-1">{{request.requestDate}}</h3>
                <hr class="my-4">
            </div>
            <div class="col-md-4">
                <h3>{{request.destinationOrganizationName}}</h3>
                <hr class="my-4">
            </div>
            <div class="col-md-3">
                <h3 class="ms-3">{{request.requestCode}}</h3>
                <hr class="my-4">
            </div>
        </div>
    </div>
    <div *ngIf="depositRequestDtos.length<=0">
        <div class="row mt-5">
            <div class="col-md-4"></div>
            <div class="col-md-3">
                <div  class="mt-3">
                    <h2 class="text-primary">No has enviado ningun pedido!</h2>
                  
                </div>
              
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
    </div>
</body>
<ng-template #createRequestTemplate>
    <button id="closeButton" (click)="closeCreateRequestTemplate()" class="text-white">X</button>
    <div id="createRequestCol" class="col">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
    <form [formGroup]="depositRequestFormBuilder">
        
        <div class="form-group text-center">
            <label for="mainOrganizationId" class="form-label ">Seleccione la dependencia de origen</label>
            <select id="mainOrganizationId" formControlName="mainOrganizationId" class="form-select  border-dark w-75 ms-5">
                <option value="Seleccione la dependencia de origen"></option>
                <option type="number" class="form-control border-dark " *ngFor="let orgs of organizationDtos"
                    id="mainOrganizationId" [value]="orgs.id">
                    {{orgs.organizationName}}</option>
            </select>
            <div *ngIf="mainOrganizationId.invalid && (mainOrganizationId.dirty || mainOrganizationId.touched)" class="text-danger">
                <div *ngIf="mainOrganizationId.errors?.['required']">
                    Debe seleccionar una organizacion
                </div>
            </div>
            <button (click)="createRequest()" class="btn btn-sm mt-2 text-white text-center">CONTINUAR</button>
        </div>
        
    </form>
</div>
<div class="col-md-1"></div>
</div>
</div>
</ng-template>
<ng-template #setDestinationOrganizationTemplate>
    <div id="createRequestCol" class="col">
    <form [formGroup]="setDestinationOrganizationForm">
    <div class="form-group text-center">
        <label for="destinationOrganizationId" class="form-label fs-7 text-center">Seleccione el destino</label>
        <select id="destinationOrganizationId" formControlName="destinationOrganizationId"
            class="form-select  border-dark">
            <option value="Seleccione la dependencia de destino"></option>
            <option type="number" class="form-control border-dark"
                *ngFor="let orgs of parentOrganizationDtos" id="destinationOrganizationId"
                [value]="orgs.id">
                {{orgs.organizationName}}</option>
        </select>
        <div *ngIf="destinationOrganizationId.invalid && (destinationOrganizationId.dirty || destinationOrganizationId.touched)"
            class="text-danger">
            <div *ngIf="destinationOrganizationId.errors?.['required']">
                Debe seleccionar una organizacion
            </div>
        </div>
        <button (click)="setDestinationOrganization()" class="btn btn-sm mt-2 text-white text-center">CONTINUAR</button>
    </div>
</form>
</div>
</ng-template>

<ng-template #supplyItemRequestSelectionTemplate>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="d-inline">
                    <h3 class="text-center">Seleccionar items</h3>
                </div>
                <table class="table table-flex table-bordered h-75 text-center">
                    <thead>
                        <tr>
                            <th scope="col">CODIGO</th>
                            <th scope="col">U.MEDIDA</th>
                            <th scope="col">DESCRIPCION</th>
                            <th scope="col">CANTIDAD</th>
                            <th scope="col">APLICAR</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr *ngFor="let item of supplyItemRequestDtos">
                            <td id="fullBlue_td">{{item.code}}</td>
                            <td>{{item.measureUnit}}</td>
                            <td>{{item.itemDetail}}</td>
                            <td>
                                <form [formGroup]="itemQuantityForm" clasS="form-group">
                                    <div class="form-group">
                                        <input class="form-control border-dark" type="number" name="quantity"
                                            id="quantity" formControlName="quantity">
                                        <div *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)"
                                            class="text-danger">
                                            <div *ngIf="quantity.errors?.['required']">
                                              
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </td>
                            <td><button (click)="selectedSupplyItemRequest(item.itemId)" class="btn btn-sm">-</button>
                            </td>
                         </tr>
                     </tbody>
                </table>
            </div>
            <div class="col-md-4 ms-4">
                <div class="d-inline">
                    <h3 class="text-center">Items seleccionados</h3>
                </div>
                <table class="table table-flex table-bordered h-75">
                    <thead>
                        <tr>
                            <th scope="col">CODIGO</th>
                            <th scope="col">U.MEDIDA</th>
                            <th scope="col">DESCRIPCION</th>
                            <th scope="col">CANTIDAD</th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr *ngFor="let item of selectedSupplyItemRequestDtos">
                            <td id="fullBlue_td">{{item.itemCode}}</td>
                            <td>{{item.itemMeasureUnit}}</td>
                            <td>{{item.itemDescription}}</td>
                            <td id="quantityShow">{{item.itemQuantity}}</td>
                           <td><button (click)="onDeleteSelectedSupplyItemRequest(item.id)" class="btn btn-sm">-</button>
                                </td>
                           
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="col-md-1 mt-3 ms-5">
                <button (click)="saveControlRequestItems()" class="text-white">APLICAR</button>
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col">Hola</div>
        </div>
    </div>
</ng-template>
<ng-template #savedDepositControlRequestTemplate>
    <button id="closeButton" (click)="onCloseSavedDepositControlRequestTemplate()" class="btn btn-sm text-white">X</button>
    <div class="row mt-1">
       
        <div class="col-md-4 ms-3">
            <button  (click)="sendDepositRequest()" class="btn btn-lg text-white">ENVIAR</button>
           </div>
        <div class="col-md-5"></div>
        <div class="col-md-2">
            <small class="fw-bold text-dark">{{toSendDepositRequestDto.requestDate |date: 'dd-MM-yyyy'}}</small>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="barofcolourRed mt-3">-</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-1">
           
            <h4 class=" mt-1">DESTINO:</h4>
        </div>
      <div class="col-md-6 ms-4">
            <h3>{{toSendDepositRequestDto.destinationOrganizationName}}</h3>
        </div>
     
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <h4>Item Seleccionados:</h4>
        </div>
    </div>
 <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <table class="table table-flex table-bordered">
                <thead>
                    <tr>
                        <th scope="col">CODIGO</th>
                            <th scope="col">U.MEDIDA</th>
                            <th scope="col">DESCRIPCION</th>
                           <th scope="col">CANTIDAD</th>
                </thead>
                <tbody>
                    <tr *ngFor="let item of toSendDepositRequestDto.depositControlRequestDtos">
                        <td id="fullBlue_td">{{item.itemCode}}</td>
                        <td>{{item.itemMeasureUnit}}</td>
                        <td>{{item.itemDescription}}</td>
                        <td>{{item.itemQuantity}}</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</ng-template>