<!-- Admin Navbar -->
<div *ngIf="adminAuth" class="container-fluid">
    <div class="row">
        <mat-toolbar class="bg-dark">
            <div class="col-md-1">
                <button class=" btn btn-lg text-white" routerLink="/home">Inicio</button>
            </div>
            <div class="col-md-1">
                <button mat-button [matMenuTriggerFor]="containerMenu" class="text-white">RENDICION</button>
                <mat-menu #containerMenu yPosition="above">
                    <button mat-menu-item routerLink="/container">Crear</button>
                    <button mat-menu-item routerLink="/open-container">Abrir</button>
                </mat-menu>
            </div>
            <div class="col-md-1">
                <div>
                    <button mat-button [matMenuTriggerFor]="depositRequestMenu" class="text-white">PEDIDO</button>
                    <mat-menu #depositRequestMenu yPosition="above">
                        <button mat-menu-item routerLink="/deposit-request">Crear</button>
                        <button mat-menu-item routerLink="/open-container">Ver</button>
                    </mat-menu>
                </div>
            </div>
            <div class="col-md-1">
                <div>
                  
                    <button mat-button routerLink="/deposit-receiver" class="text-white ms-2">INBOX</button>
                       
                   
                    <img routerLink="/deposit-receiver" *ngIf="messageQuantity<=0" id="envelopeOff" class="ms-1 mt-1" src="./assets/img/envelope-open-text-solid.svg">
                    <img routerLink="/deposit-receiver" *ngIf="messageQuantity>0" id="envelopeOn" class="ms-1 mt-1" src="./assets/img/envelope-open-text-solid.svg">
                    <small *ngIf="messageQuantity<=0" class="text-white">{{messageQuantity}}</small>
                    <small *ngIf="messageQuantity>0" class="text-danger">{{messageQuantity}}</small>
                </div>
               
            </div>
            <div class="col-md-1">
                <button mat-button [matMenuTriggerFor]="userMenu" class="text-white">USUARIOS</button>
                <mat-menu #userMenu yPosition="above">
                    <button mat-menu-item routerLink="/register">Nuevo</button>
                    <button mat-menu-item routerLink="/org">Asignar dependencia</button>
                    <button mat-menu-item routerLink="/org-setup">Panel Dependencias</button>
                </mat-menu>
            </div>
            <!-- <div class="col-md-1 ms-3" *ngIf="!adminAuth "></div> -->
            <div class="col-md-1">
                <button mat-button [matMenuTriggerFor]="templateMenu" class="text-white">PLANTILLAS</button>
                <mat-menu #templateMenu yPosition="above">
                    <button mat-menu-item routerLink="/memo-create">Memo</button>
                    <button mat-menu-item routerLink="/work-template-list">Ver</button>
                    <button mat-menu-item routerLink="/dispatch-page">Despacho</button>
                </mat-menu>
                <!-- <button mat-button routerLink="/dispatch"  class="text-white ms-5">Despacho</button> -->

                <button mat-button routerLink="/deposit-home" class="text-white ms-2">SUMINISTROS</button>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-1 ms-4">
                <button routerLink="/user-panel" class="btn btn-sm text-white border-primary">
                    DEPENDENCIA: <small *ngIf="!userMainOrganizationSelected"
                        class="text-danger">{{userMainOrganizationName}}</small>
                    <small *ngIf="userMainOrganizationSelected" class="text-white">{{userMainOrganizationName}}</small>
                </button>
        </div>
            <div class="col-md-2"></div>

            <div class="col-md-2  top-0 end-0 mt-1">
                <h4 id="user-name" class="d-inline ms-1" *ngIf="currentUsername!==undefined">{{currentUsername}}</h4>
                <button id="btnSession" (click)="onLogout()" class="btn btn-sm ms-3 ">Cerrar sesion</button>
            </div>
        </mat-toolbar>
    </div>
</div>
<!-- Super user Navbar -->
<div *ngIf="superUserAuth" class="container-fluid">
    <div class="row">
        <mat-toolbar class="bg-dark">
            <div class="col-md-1">
                <button class=" btn btn-lg text-white" routerLink="/home">Inicio</button>
            </div>
            <div class="col-md-1">
                <button mat-button [matMenuTriggerFor]="containerMenu" class="text-white">Rendicion</button>
                <mat-menu #containerMenu yPosition="above">
                    <button mat-menu-item routerLink="/container">Crear</button>
                    <button mat-menu-item routerLink="/open-container">Abrir</button>
                </mat-menu>
            </div>
            <div class="col-md-1">
                <div>
                    <button mat-button [matMenuTriggerFor]="depositRequestMenu" class="text-white">Pedido</button>
                    <mat-menu #depositRequestMenu yPosition="above">
                        <button mat-menu-item routerLink="/deposit-request">Crear</button>
                        <button mat-menu-item routerLink="/open-container">Ver</button>
                    </mat-menu>
                </div>
            </div>
            <div class="col-md-1">
                <div>
                    <button mat-button [matMenuTriggerFor]="depositReceiverMenu" class="text-white">INBOX</button>
                    <mat-menu #depositReceiverMenu yPosition="above">
                        <button mat-menu-item routerLink="/deposit-receiver">Ver</button>
                       
                    </mat-menu>
                    <img *ngIf="messageQuantity<=0" id="envelopeOff" class="ms-1 mt-1" src="./assets/img/envelope-open-text-solid.svg">
                    <img *ngIf="messageQuantity>0" id="envelopeOn" class="ms-1 mt-1" src="./assets/img/envelope-open-text-solid.svg">
                    <small *ngIf="messageQuantity<=0" class="text-white">{{messageQuantity}}</small>
                    <small *ngIf="messageQuantity>0" class="text-danger">{{messageQuantity}}</small>
                </div>
               
            </div>
           
            <!-- <div class="col-md-1 ms-3" *ngIf="!adminAuth "></div> -->
            <div class="col-md-2">
                <button mat-button [matMenuTriggerFor]="templateMenu" class="text-white">Plantillas</button>
                <mat-menu #templateMenu yPosition="above">
                    <button mat-menu-item routerLink="/memo-create">Memo</button>
                    <button mat-menu-item routerLink="/work-template-list">Ver</button>
                    <button mat-menu-item routerLink="/dispatch-page">Despacho</button>
                </mat-menu>
                <!-- <button mat-button routerLink="/dispatch"  class="text-white ms-5">Despacho</button> -->

                <button mat-button routerLink="/deposit-home" class="text-white ms-5">Suministros</button>
            </div>
            <div class="col-md-1 ">
                <button routerLink="/user-panel" class="btn btn-sm text-white border-primary">
                    DEPENDENCIA: <small *ngIf="!userMainOrganizationSelected"
                        class="text-danger">{{userMainOrganizationName}}</small>
                    <small *ngIf="userMainOrganizationSelected" class="text-white">{{userMainOrganizationName}}</small>
                </button>
        </div>
            <div class="col-md-3"></div>

            <div class="col-md-2  top-0 end-0 mt-1">
                <h4 id="user-name" class="d-inline ms-1" *ngIf="currentUsername!==undefined">{{currentUsername}}</h4>
                <button id="btnSession" (click)="onLogout()" class="btn btn-sm ms-3 ">Cerrar sesion</button>
            </div>
        </mat-toolbar>
    </div>
</div>
<!-- User navbar -->
<div *ngIf="userAuth" class="container-fluid">
    <div class="row">
        <mat-toolbar class="bg-dark">
            <div class="col-md-1">
                <button class=" btn btn-lg text-white" routerLink="/home">Inicio</button>
            </div>
            <div class="col-md-1  ms-2">
                <button mat-button [matMenuTriggerFor]="containerMenu" class="text-white">Rendicion</button>
                <mat-menu #containerMenu yPosition="above">
                    <button mat-menu-item routerLink="/container">Crear</button>
                    <button mat-menu-item routerLink="/open-container">Abrir</button>
                </mat-menu>
            </div>
            <div class="col-md-1">
                <div>
                    <button mat-button [matMenuTriggerFor]="depositRequestMenu" class="text-white">Pedido</button>
                    <mat-menu #depositRequestMenu yPosition="above">
                        <button mat-menu-item routerLink="/deposit-request">Crear</button>
                        <button mat-menu-item routerLink="/open-container">Ver</button>
                    </mat-menu>
                </div>
            </div>
            <div class="col-md-6"></div>
             <div class="col-md-1 ms-5 mt-1">
                <h4 id="user-name" class="d-inline ms-1" *ngIf="currentUsername!==undefined">{{currentUsername}}</h4>

            </div>
            <div class="col-md-2 top-0 end-0 mt-1">
                <button id="btnSession" (click)="onLogout()" class="btn btn-sm ms-3">Cerrar sesion</button>
            </div>
        </mat-toolbar>
    </div>
</div>