

button{
    color: #1811e6;
    font-family: "Fira Code", monospace;
    font-weight: bold;
}
#navButton{
    font-family: "Fira Code", monospace;
    font-weight: bold;
}
#btnSession{
    background: linear-gradient(245.59deg, rgb(27, 61, 165) 0%, rgb(43, 21, 151) 28.53%, #493aa1 75.52%);
    color: white;
}

#btnSession:hover{
    background: linear-gradient(245.59deg, rgb(159, 51, 15) 0%, rgb(229, 55, 20) 28.53%, #bb3b30 75.52%);
    color: white;
}
span{
    font-size: 13px;
    color: white;
  
}
#user-name{
   
    border-width: 0.2rem;
    padding: 0.3rem;
    border-style: groove;
    border-color:rgb(12, 12, 161);
    border-radius: 0.6rem;
    font-family: 'Quattrocento', serif;
    font-size: 14px;
    color: rgb(226, 225, 232);
}
#envelopeOff{
    color: white;
    background: linear-gradient(245.59deg, rgb(32, 211, 59) 0%, rgb(42, 209, 53) 28.53%, #1fe611 75.52%);
    width: 1.5rem;
    height: 1.5rem;
}
#envelopeOn{
    color: white;
    background: linear-gradient(245.59deg, rgb(214, 174, 30) 0%, rgb(232, 229, 50) 28.53%, #e19b17 75.52%);
    width: 1.5rem;
    height: 1.5rem;
}

small{
    font-size: 0.7rem;
}
.float { float:left; width:100px; height:100px }

#time{
    height: 3.4rem;
   margin: 0;
   font-size: 0.7rem;
}
li{
    color: #8678d3;
    font-family: "Fira Code", monospace;
}
#thumbsUp{
    width: 1.5rem;
    height: 1.5rem;
    
}