<div class="container-flex">
    <mat-toolbar class="bg-dark">
        <div class="col-md-2">
            <button class=" btn btn-lg text-white"routerLink="/home" >Inicio</button>
        </div>
        <div class="col-md-1">
            <button mat-button [matMenuTriggerFor]="containerMenu" class="text-white">Rendicion</button>
            <mat-menu #containerMenu yPosition="above">
                <button mat-menu-item routerLink="/container">Crear</button>
                <button mat-menu-item routerLink="/open-container">Abrir</button>
         </mat-menu>
        </div>
        <div *ngIf="auth" class="col-md-1 ms-5">
            <button mat-button [matMenuTriggerFor]="userMenu" class="text-white">Usuarios</button>
            <mat-menu #userMenu yPosition="above">
                <button mat-menu-item routerLink="/register">Nuevo</button>
                <button mat-menu-item  routerLink="/org">Asignar dependencia</button>
         </mat-menu>
        </div>
       
       
       
            <div class="col-md-1 position-absolute top-0 end-0 mt-3">
                <button id="btnSession" (click)="onLogout()" class="btn btn-sm">Cerrar sesion</button>
            </div>
          
      
     </mat-toolbar>
   
</div>

