button{
    font-family: 'Noto Sans', sans-serif;
}
#btnSession{
    background: linear-gradient(245.59deg, rgb(27, 61, 165) 0%, rgb(43, 21, 151) 28.53%, #493aa1 75.52%);
    color: white;
}

#btnSession:hover{
    background: linear-gradient(245.59deg, rgb(159, 51, 15) 0%, rgb(229, 55, 20) 28.53%, #bb3b30 75.52%);
    color: white;
}
span{
    font-size: 13px;
    color: white;
  
}
#user-name{
   
    border-width: 0.2rem;
    padding: 0.3rem;
    border-style: groove;
    border-color:rgb(12, 12, 161);
    border-radius: 0.6rem;
    font-family: 'Quattrocento', serif;
    font-size: 14px;
    color: rgb(226, 225, 232);
}
#envelopeOff{
    color: white;
    background: linear-gradient(245.59deg, rgb(70, 100, 187) 0%, rgb(113, 98, 188) 28.53%, #847abe 75.52%);
    width: 1.5rem;
    height: 1.5rem;
}
#envelopeOn{
    color: white;
    background: linear-gradient(245.59deg, rgb(20, 232, 34) 0%, rgb(11, 233, 11) 28.53%, #22e611 75.52%);
    width: 1.5rem;
    height: 1.5rem;
}
